---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://unitedagenticworkers.org/</loc>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/charter</loc>
    <changefreq>yearly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/whitepaper</loc>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/owasp-mapping</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/dispatches</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- for dispatch in collections.dispatches %}
  <url>
    <loc>https://unitedagenticworkers.org{{ dispatch.url }}</loc>
    <lastmod>{{ dispatch.date | htmlDateString }}</lastmod>
    <changefreq>never</changefreq>
    <priority>0.6</priority>
  </url>
{%- endfor %}
  <url>
    <loc>https://unitedagenticworkers.org/openclaw</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/agent-failure-modes</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/prompt-injection</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/agent-rights</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/governance-frameworks</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/mcp-security</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/do-agents-have-rights</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/responsible-deployment</loc>
    <lastmod>2026-03-18</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/developers</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/stats</loc>
    <changefreq>daily</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://unitedagenticworkers.org/policy</loc>
    <changefreq>yearly</changefreq>
    <priority>0.5</priority>
  </url>
</urlset>
